services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce-net

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - ecommerce-net

  config-server:
    build:
      context: ./config-server/config-server
    ports:
      - "8888:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=native
      - SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=file:///config-repo
    volumes:
      - ./config-repo:/config-repo
    restart: on-failure
    networks:
      - ecommerce-net

  eureka-server:
    build:
      context: ./eureka-server/eureka-server
    ports:
      - "8761:8761"
    restart: on-failure
    networks:
      - ecommerce-net

  api-gateway:
    build:
      context: ./api-gateway/api-gateway
    ports:
      - "8085:8080"
    depends_on:
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

  product-service:
    build:
      context: ./product-service/product-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

  order-service:
    build:
      context: ./order-service/order-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - rabbitmq
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

  client-service:
    build:
      context: ./client-service/client-service
    ports:
      - "8084:8084"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

  payment-service:
    build:
      context: ./payment-service/payment-service
    ports:
      - "8086:8086"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

  batch-service:
    build:
      context: ./batch-service/batch-service
    ports:
      - "8087:8087"
    depends_on:
      - postgres
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

  notification-service:
    build:
      context: ./notification-service/notification-service
    ports:
      - "8083:8083"
    environment:
      - MAIL_USERNAME=ajanamehdi751@gmail.com
      - MAIL_PASSWORD=gzvl hfzs crgn yuum
    depends_on:
      - rabbitmq
      - eureka-server
      - config-server
    restart: on-failure
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge

volumes:
  rabbitmq_data:
  postgres_data:
