services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce-net
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  config-server:
    build: ./config-server/config-server
    ports:
      - "8888:8888"
    volumes:
      - ./config-repo:/app/config-repo
    environment:
      SPRING_PROFILES_ACTIVE: native
      SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS: file:/app/config-repo
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - ecommerce-net

  eureka-server:
    build: ./eureka-server/eureka-server
    ports:
      - "8761:8761"
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - ecommerce-net

  api-gateway:
    build: ./api-gateway/api-gateway
    ports:
      - "8085:8080"
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - ecommerce-net

  product-service:
    build: ./product-service/product-service
    ports:
      - "8081:8081"
    depends_on:
      eureka-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
      config-server:
        condition: service_healthy
    command: ["bash", "-c", "sleep 20 && java -jar /app/app.jar"]
    networks:
      - ecommerce-net

  order-service:
    build: ./order-service/order-service
    ports:
      - "8082:8082"
    depends_on:
      eureka-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: ["bash", "-c", "sleep 40 && java -jar /app/app.jar"]
    networks:
      - ecommerce-net

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 20s
    restart: always
    networks:
      - ecommerce-net

  notification-service:
    build: ./notification-service/notification-service
    container_name: ecommerce-microservices-notification-service-1
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8083:8083"
    restart: on-failure
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge

volumes:
  rabbitmq_data:
  postgres_data:
