server:
  port: 8082

spring:
  main:
    lazy-initialization: true
  cloud:
    openfeign:
      discovery:
        enabled: true
    loadbalancer:
      retry:
        enabled: true
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://postgres:5432/ecommerce
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  config:
    import: optional:configserver:http://config-server:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    preferIpAddress: true
    hostname: order-service
    nonSecurePort: 8082

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

resilience4j.circuitbreaker:
  instances:
    productService:
      slidingWindowSize: 10
      failureRateThreshold: 70
      waitDurationInOpenState: 5s
      permittedNumberOfCallsInHalfOpenState: 3
      automaticTransitionFromOpenToHalfOpenEnabled: true

resilience4j.retry:
  instances:
    productService:
      maxAttempts: 3
      waitDuration: 2s

logging:
  level:
    com.ecommerce.order.service.client.ProductClient: DEBUG
    org.springframework.cloud.openfeign: DEBUG
    feign: DEBUG
    io.github.resilience4j: DEBUG

  resilience4j.retry:
  instances:
    productService:
      maxAttempts: 5
      waitDuration: 2s