server:
  port: 8761

spring:
  cloud:
    compatibility-verifier:
      enabled: false
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
