version: "3.9"

services:

  mysql:
    image: mysql:8.0
    container_name: ecommerce-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    networks:
      - micro-net
    volumes:
      - mysql_data:/var/lib/mysql


  config-server:
    build:
      context: ./config-server/config-server
    container_name: config-server

    networks:
      - micro-net
    ports:
      - "8888:8888"

  eureka-server:
    build:
      context: ./eureka-server/eureka-server
    container_name: eureka-server
    depends_on:
      - config-server

    networks:
      - micro-net
    ports:
      - "8761:8761"

  api-gateway:
    build:
      context: ./api-gateway/api-gateway
    container_name: api-gateway
    depends_on:
      - eureka-server
      - config-server

    networks:
      - micro-net
    ports:
      - "8085:8080"

  product-service:
    build:
      context: ./product-service/product-service
    container_name: product-service
    depends_on:
      - eureka-server
      - config-server

    networks:
      - micro-net

  order-service:
    build:
      context: ./order-service/order-service
    container_name: order-service
    depends_on:
      - eureka-server
      - config-server

    networks:
      - micro-net

  client-service:
    build:
      context: ./client-service/client-service
    container_name: client-service
    depends_on:
      - eureka-server
      - config-server

    networks:
      - micro-net

  notification-service:
    build:
      context: ./notification-service/notification-service
    container_name: notification-service
    depends_on:
      - eureka-server
      - config-server

    networks:
      - micro-net

  payment-service:
    build:
      context: ./payment-service/payment-service
    container_name: payment-service
    depends_on:
      - eureka-server
      - config-server
      - mysql

    networks:
      - micro-net

  batch-service:
    build:
      context: ./batch-service/batch-service
    container_name: batch-service
    depends_on:
      - eureka-server
      - config-server
      - mysql

    networks:
      - micro-net


networks:
  micro-net:
    driver: bridge

volumes:
  mysql_data:
