server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file:///mnt/c/Users/elmehdi.ajana.Mehdi-Laptop/Desktop/Java-Project/ecommerce-microservices/config-repo
