@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #f6f7fb; }
.container { padding: 16px; }
.card { border-radius: 16px; }
