server:
  port: 8081

spring:
  application:
    name: PRODUCT-SERVICE
  datasource:
    url: jdbc:postgresql://postgres:5432/ecommerce
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import: optional:configserver:http://config-server:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    preferIpAddress: true
    hostname: product-service
    nonSecurePort: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"
