server:
  port: 8083

spring:
  application:
    name: notification-service

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

  config:
    import: optional:configserver:http://config-server:8888

# Disable Eureka completely
eureka:
  client:
    enabled: false
